@tailwind base;
@tailwind components;
@tailwind utilities;

.pitch {
  background-image: url("/imgs/halfcourt.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  font-family: var(--font-geist-sans);
}

.style-1,
.style-2,
.style-3,
.style-4,
.style-5 {
  position: absolute;
  width: 6rem;
  height: 6rem;
  left: 0;
  top: 0;
  border: 0.2vw solid white;
  border-radius: 100%;
  background-color: red;
}

.style-1 {
  left: 24vw;
  top: 12.5vw;
  animation: move 1s linear forwards;
}

.style-2 {
  left: 50vw;
  top: 12.5vw;
  animation: move 1s linear forwards;
}

.style-3 {
  left: 37vw;
  top: 28vw;
  animation: move 1s linear forwards;
}

.style-4 {
  left: 17vw;
  top: 40vw;
  animation: move 1s linear forwards;
}

.style-5 {
  left: 58vw;
  top: 40vw;
  animation: move 1s linear forwards;
}

@keyframes move {
  from {
    left: 0vw;
    top: 0vw;
  }
}

@media screen and (max-width: 800px) {
  .style-1,
  .style-2,
  .style-3,
  .style-4,
  .style-5 {
    width: 2rem;
    height: 2rem;
  }

  .pitch {
    width: 100vw;
    height: 50vh;
  }
}

.bannerbg {
  background-image: url("/imgs/bg2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 50% 30%;
}

.stars {
  /* the stars for the top item */
  place-self: start start;
  /* top left corner */
  /* for absolutely positioned pseudos */
  position: relative;
  translate: 20% 100%;
  rotate: -9deg;
  color: rgba(255, 255, 255, 0.5);
  font-size: 5em;
}
.stars::before,
.stars::after {
  position: absolute;
  inset: 0;
  content: "★";
}
.stars::before {
  translate: 130%;
  scale: 0.3;
  text-shadow: -0.2em 2.5em, 2em 1em, -1.9em -0.175em, -2em 1.5em, -3em 2.5em;
}
.stars::after {
  translate: -50% 50%;
  scale: 0.25;
  text-shadow: -0.5em -2em, -0.25em -3.5em, 1em -4.5em;
}

#titleEffects {
  /* filter: url(#titleEffects); */
  /* font-family: var(--font-courgette); */
  font-weight: 800;
  font-size: clamp(1em, 5vw, 4em);
}

.badge {
  border-radius: 0em 0em 20em 20em;
}

@keyframes scale {
  from {
    background-size: 2100px 1350px;
    transition: all 1s ease-in-out;
  }
}

/* @media screen and (max-width: 800px) {
  .bannerbg {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: 50% 30%;
  }
} */
